{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Assign "{{ sample['sampleName'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="form-group">
            <label for="assigned-extraction">Assign To Extraction:</label>
            <select name="assigned-extraction">
                {% for extraction in extractions %}
                  <option value="{{extraction['id']}}">{{ extraction["extractionName"] }}</option>
                {% endfor %}
            </select>
    </div>
    <input type="submit" value="Save">
  </form>
{% endblock %}