{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Sample{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="sample-name">Sample Name</label>
    <input name="sample-name" id="sample-name" value="{{ request.form['sample-name'] }}" required>

    <label for="analyst">Assigned Analyst</label>
    <input name="analyst" id="analyst" value="{{ request.form['analyst'] }}">

    <label for="notes">Notes</label>
    <textarea name="notes" id="notes">{{ request.form['notes'] }}</textarea>

    <label for="strs">STRs</label>
    <input type="checkbox" name="strs" id="strs" value="strs-selected">

    <label for="mitobox">Mito</label>
    <input type="checkbox" name="mito" id="mito" value="mito-selected">

    <label for="is-priority">Priority</label>
    <input type="checkbox" name="is-priority" id="is-priority" value="is-priority">
    <input type="submit" value="Save">
  </form>
{% endblock %}