{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Extractions{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('dashboard.createExtraction') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for extraction in extractions %}
    <article class="extraction">
      <header>
        <div class="extraction-info">
          <div>
            <h1>{{ extraction['extractionName'] }}</h1>
            <div>Goal Date: {{ extraction['goalDate'] }}</div>
            <div>Analyst: {{ extraction['analyst'] }}</div>
            <div>Notes: {{ extraction['notes'] }}</div>
          </div>
          <div>
            <div>
              {% if extraction['bbpAdded'] %}
                Buffers Added &check;
              {% endif %}
            </div>
            <div>
              {% if extraction['extracted'] %}
                Extraction Complete &check;
              {% endif %}
            </div>
          </div>
        </div>

          <a class="action" href="{{ url_for('dashboard.updateExtraction', id=extraction['id']) }}">Edit</a>

          <a class="action" href="{{ url_for('dashboard.showExtractionSet', id=extraction['id']) }}">Associated Samples</a>
      </header>
      {% if not extraction['extracted'] %}
        <a class="action" href="{{ url_for('dashboard.processExtraction', id=extraction['id']) }}">PROCESS</a>
      {% endif %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}