{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Samples Associated With "{{ extraction['extractionName'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<article class="associated-samples">
  <ul>
  {% for associatedSample in associatedSamples %}

        <li>{{ associatedSample['sampleName'] }}</li>

  {% endfor %}
  </ul>
  {% if extraction['extracted'] %}
  <div class="archive-button-container">
  	<a class="archive-button action" href="{{ url_for('dashboard.archiveExtraction', id=extraction['id']) }}">ARCHIVE</a>
  </div>
  {% endif %}

  </article>
{% endblock %}