/*<span>Photo by <a href="https://unsplash.com/@_louisreed?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Louis Reed</a> on <a href="https://unsplash.com/s/photos/test-tubes?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>*/

body {
	align-content: center;
	background-image: url("louis-reed-pwcKF7L4-no-unsplash.jpg");
	background-size: cover; 
	display: flex;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
}
main { 
	background-color: rgba(255, 255, 255, 0.85);
	margin: auto;
	width: 70%; 
	padding: 5% 10%;
}
a { 
	color: #377ba8; 
}
hr { 
	border: none; border-top: 1px solid gray; 
}
nav { 
	display: flex; 
	align-items: center; 
	padding: 0 0.5rem; 
}
nav h1 { 
	flex: auto; margin: 0; 
}
nav h1 a { 
	text-decoration: none; 
	padding: 0.25rem 0.5rem; 
}
nav ul  { 
	display: flex; 
	list-style: none; 
	margin: 0; 
	padding: 0; 
}
.content > header { 
	align-items: center; 
	border-bottom: 1px solid gray; 
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-between;
}
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }

.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }

header.main-header {
	display: flex;
	justify-content: space-between;
}

header.main-header h1 {
	margin-right: 50px;
}

nav ul li {
	margin: 0 5px;
}

.processes-nav {
	background-color: #485778;
	color: white;
	padding: 20px 10px;
	text-transform: uppercase;
}

.processes-nav a, .processes-nav a:active, .processes-nav a:visited {
	color: white;
}

.content h1 {
	color: #485778;
}

.content h1.extractions-header {
	color: #90f;
}

.table-header {
	display: flex;
	font-weight: bold;
	width: 100%;
	
}

.table-header div, .sample-info > div, .extraction-info > div {
	flex: 1;
}

.table-header div:first-of-type, .sample-info > div:first-of-type, .extraction-info > div:first-of-type {
	flex: 2;
}

.sample, .extraction {
	position: relative;
}

.sample h1, .extraction h1 {
	display: flex;
	margin-bottom: 0;
}

.sample h1 img, .extraction h1 img {
	height: 15px;
	margin: 0 0 2px 10px;
}

.analyst-notes {
	width: 40%;
}

.edit-button {
	display: block;
	padding-top: 5px;
}

.is-priority::before {
	background-color: #ff008c;
	color: white;
	content: "PRIORITY";
	display: block;
	width: 80px;
}

.sample-info, .extraction-info {
	display: flex;
	justify-content: space-between;
}

.sample-info {
	height: 60px;
}

.process-button {
	background-color: #00ffd0;
	border-radius: 15px;
	bottom: 10px;
	color: black;
	padding: 5px;
	position: absolute;
	text-decoration: none;
}

.associated-samples {
	display: flex;
}

.associated-samples ul {
	width: 50%;
}

.archive-button-container {
	display: flex;
	align-items: center;
}

.archive-button {
	background-color: #9e4c00;
	border-radius: 15px;
	color: white;
	padding: 5px;
	text-decoration: none;
}

.archive-table-header {
	font-weight: bold;
	margin-bottom: 20px;
}

.archive-table-header, .archived-sample-info {
	display: flex;
	width: 100%;
}

.archive-table-header > div, .archived-sample-info > div {
	flex: 1;
}