<!doctype html>
<title>Sample Tracker</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<main>
  <header class="main-header"><h1>Sample Tracker</h1>
    <nav>
      <ul>
        {% if g.user %}
          <li><span>Logged In: {{ g.user['username'] }}</span>
          <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
          <li><a href="{{ url_for('auth.register') }}">Register</a>
          <li> | 
          <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
      </ul>
    </nav>
  </header>

{% if g.user %}
<nav class="processes-nav">
  <ul>
    <li><a href="/">Samples</a></li>
    <li>|</li>
    <li><a href="/extractions">Extractions</a></li>
  </ul>
</nav>
{% endif %}
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
</main>